// Main colors
$leaf_color : lightgreen;
$color :#242020;
$super_large: 165px;
$purple: #5d4954;
$fontStyle:'Montserrat', sans-serif;
$color: white;
$color:#302828;
$font: 30px;
$shadow_color:  2px 2px 30px rgb(217, 9, 245);